{% extends 'base.html' %}
{% block body %}
	<div class="container mx-auto px-4 py-5">
		<h1 class="my-custom-style">
			Some Text with My Custom Styles
		</h1>
		<hr class="my-10">
		<h1 class="text-3xl text-green-800">
			This Text with Tailwind Styles
		</h1>
	</div>
	<script>
        document.querySelector('h1').classList.add('text-orange-800')
        document.querySelector('h1').classList.add('text-4xl')
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script>
        $('.text-3xl').addClass('font-bold')
	</script>
{% endblock %}

